<div class="link-hover-red">
  <%= link_to "/offers/#{conversation.offer_id}" do %>
    <h2 class="text-decoration-none">Conversation with <%= conversation.with(current_user).first_name %>
        about <span><%= conversation.offer.title %></span>
    </h2>
  <% end %>
  <% conversation.messages.reorder('messages.created_at ASC').each do |message| %>
    <%= render 'shared/message_card', message: message %>
  <% end %>
  <%= render 'conversations/message_form' %>
</div>
