<div class="container-fluid">
  <div class="row dashboard" data-controller="tabs">
    <div class="col-2 sidebar">
      <div id="sidebar-tabs">
        <% if current_user.avatar_photo.attached? %>
          <%= cl_image_tag current_user.avatar_photo.key, class: "avatar-xl"  %>
        <% else %>
          <%= image_tag "avatar_4.png", class: "avatar-xl" %>
        <% end %>
        <p><i class="fas fa-desktop"></i> Dashboard</p>
        <hr>
        <p data-action="click->tabs#showProfile"><i class="fas fa-user"></i> Your profile</p>
        <p data-action="click->tabs#showConversations"><i class="fas fa-envelope"></i> Conversations</p>
        <p data-action="click->tabs#showBookings"><i class="fas fa-list"></i> Bookings</p>
        <p data-action="click->tabs#showWishlist"><i class="fas fa-heart"></i> Wishlist</p>
      </div>
    </div>
    <div class="col-10">

      <div class="<%= 'd-none' unless @page =='profile'%>" data-tabs-target="profile">
        <%= render 'profile' %>
      </div>
      <div class="<%= 'd-none' unless @page =='bookings'%>" data-tabs-target="booking">
        <%= render 'bookings' %>
      </div>
      <div class="<%= 'd-none' unless @page =='wishlist'%>" data-tabs-target="wishlist">
        <%= render 'wishlist' %>
      </div>
      <div class="<%= 'd-none' unless @page =='conversations'%>" data-tabs-target="conversations">
        <%= render 'conversations' %>
      </div>
    </div>

  </div>
</div>
