
<h1>Book your offer here</h1>

<%= simple_form_for(@offer) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :participants %>
  <%= f.input :message %>

</div>
