<%= link_to offer_path(offer), class: "text-decoration-none" do %>
  <div class="card-container" data-controller="add-favourite">
    <%# <i class="far fa-heart"></i> %>
    <% like = user_signed_in? ? current_user.likes.find_by(offer: offer.id) : nil %>
    <% if like %>
      <%= render 'likes/red_icon', offer: offer, like: like %>
    <% else %>
      <%=  render 'likes/grey_icon', offer: offer %>
    <% end %>

    <div class="card-head">
      <%# display 1st Image %>
      <% if offer.photos.attached? %>
        <%= cl_image_tag offer.photos.first.key %>
      <% else %>
        <%= image_tag offer.external_image_url %>
      <% end %>
    </div>

    <div class="card-body ">
        <div class="card-body-top">
          <div class="card-body-heading"><%= offer.title.gsub(/(\.|!).*/, '').truncate(40) %></div>
          <div class="card-rating">5</div>
        </div>
        <div class="card-body-bottom">
          <div>Location</div>
          <div><strong><%= sprintf('%.0f', offer.price_per_person)%></strong><small>€/person</small></div>
        </div>
    </div>
  </div>
<% end %>
