    <div id="recommendations-container" class="d-flex justify-content-between">
      <div class="recommendation">
        <div class="svg-number">
          <%= show_svg('top-1.svg') %>
        </div>
        <div class="recommended-offer">
          <%= render 'shared/basic_offer_card', offer: @offers.first %>
        </div>
      </div>
      <div class="recommendation">
        <div class="svg-number">
          <%= show_svg('top-2.svg') %>
        </div>
        <div class="recommended-offer">
          <%= render 'shared/basic_offer_card', offer: @offers.second %>
        </div>
      </div>
      <div class="recommendation">
        <div class="svg-number">
          <%= show_svg('top-3.svg') %>
        </div>
        <div class="recommended-offer">
          <%= render 'shared/basic_offer_card', offer: @offers.third %>
        </div>
      </div>


    </div>
