 <%# <%= link_to offer_path(like.offer), class: "text-decoration-none" do %>
  <div class="category-card">
     <% if like.offer.photos.attached? %>
        <%= cl_image_tag like.offer.photos.first.key %>
      <% else %>
        <%= image_tag like.offer.external_image_url %>
      <% end %>
    <div class="category-card-infos">
      <h2><%= like.offer.title.gsub(/(\.|!).*/, '').truncate(27) %></h2>
      <p><strong><%= like.offer.price_per_person %></strong>€/person</p>
      <p><%= like.offer.address.gsub(/(\.|!).*/, '').truncate(60) %></p>
  </div>
  </div>
<%# <% end %>
