 <%= link_to dashboard_index_path(offer_id: like.offer_id, page: 'wishlist'), class: "text-decoration-none" do %>
  <div class="<%= 'border border-primary' if like.offer == selected_offer %> category-card">

     <% if like.offer.photos.attached? %>
        <%= cl_image_tag like.offer.photos.first.key %>
      <% else %>
        <%= image_tag like.offer.external_image_url %>
      <% end %>
    <div class="category-card-infos">
      <h2><%= like.offer.title.gsub(/(\.|!).*/, '').truncate(27) %></h2>
      <p><strong><%= like.offer.price_per_person %></strong>€/person</p>
      <p><%= like.offer.address.gsub(/(\.|!).*/, '').truncate(60) %></p>
  </div>
  </div>
<% end %>
