<div class="banner" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Woman_kayaking_on_a_turquoise_lake_%2851125937521%29.jpg/2560px-Woman_kayaking_on_a_turquoise_lake_%2851125937521%29.jpg');">
  <h1>You go [kayaking] </h1>
    <div class="search-card">
     <h2>Look for your favorite sport experience</h2>
     <form>
      <div class="form-airbnb1">
        <label for="InputCity"><small>YOUR CITY</small></label>
        <input type="city" class="form-control" id="InputCity" placeholder="Where do you want to go?">
      </div>
     <div class="form-airbnb2">
        <label for="InputSport"><small>YOUR SPORT</small></label>
        <input type="city" class="form-control" id="InputSport" placeholder="What is your sport?">
     </div>
      <button type="submit" class="btn btn-outline-primary">Search now</button>
     </form>
    </div>
</div>

<div class="container">
  <div class="row ">
  <h2>Example row with each card taking 3 columns</h2>

    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-3">
      <%= render 'shared/basic_offer_card' %>
    </div>
  </div>

  <div class="row">
  <h2>Example row with each card taking 3 columns</h2>
    <div class="col-4">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-4">
      <%= render 'shared/basic_offer_card' %>
    </div>
    <div class="col-4">
      <%= render 'shared/basic_offer_card' %>
    </div>
  </div>
</div>
