<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" style="background-image: url(<%= image_path("banner-woman-kayaking.jpg")%>);">
  <h1>You go [kayaking] </h1>
    <div class="search-card">
     <h2>Look for your favorite sport experience</h2>
     <form action="/offers" method="get">
      <div class="form-airbnb1">
        <label for="InputCity"><small>YOUR CITY</small></label>
        <input name="city" type="city" class="form-control" id="InputCity" placeholder="Where do you want to go?">
      </div>
     <div class="form-airbnb2">
        <label for="InputSport"><small>YOUR SPORT</small></label>
        <input name="query" type="query" class="form-control" id="InputSport" placeholder="What is your sport?">
     </div>
      <button type="submit" class="btn btn-slim">Search now</button>
     </form>
    </div>
</div>

<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-top">
  <h2>Explore by category</h2>

  <% Tag.where("name = category").sample(4).each do |tag| %>
  <div class="col-12 col-lg-5 col-xl-3 mt-3 ">
      <%= render 'shared/category_card', tag: tag %>
    </div>
  <% end %>
  </div>
</div>

<% if current_user.present? %>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-top">
    <h2>Recommended for you</h2>
      <%= render 'shared/recommendation-box' %>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-top mt-5">
    <h2>Top experiences in <%= current_user.location %></h2>
      <% @offers.near(current_user.location, 30, min_radius: 10).first(4).each do |offer| %>
        <div class="col-12 col-lg-5 col-xl-3 mt-3">
          <%= render 'shared/basic_offer_card', offer: offer %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-top mt-5">
    <h2>Top experiences</h2>
      <% @offers.sample(4).each do |offer| %>
        <div class="col-12 col-lg-5 col-xl-3 mt-3">
          <%= render 'shared/basic_offer_card', offer: offer %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-top">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("banner-woman-kayaking.jpg")%>)">
    <h1>YOU GO KAYAKING</h1>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-top">
  <h2>Upcoming highlights</h2>
    <% @offers.where(offer_date: Date.today..1.day.from_now).first(6).each do |offer| %>
      <div class="col-12 col-lg-5 col-xl-2 mt-3">
        <%= render 'shared/basic_offer_card', offer: offer %>
      </div>
    <% end %>
  </div>
</div>
