<div class=" icons-container">
  <div class="icons-scrollable-area d-flex  align-items-center">
    <% @tags_with_offers.each do |tag| %>
      <a class='no-link-style' href='/offers?category=<%= tag.name %>'><div class='icon-box'><%=raw tag.icon %><%= tag.name.upcase %></div></a>
    <% end %>
  </div>
</div>

<div class="index-container">
  <div class="container cards">
    <% if @offers.empty? %>
      <h4 class="warning">
        There seem to be no offers
        <% if params[:query].present? %>
          for "<%= "#{params[:query].capitalize}" %>"
        <% end %>
        <% if params[:city].present? %>
          in <%= params[:city].capitalize %>
        <% end %>
        at the moment.
        <br><br>Go for a different experience instead!
      </h4>
    <% end %>
    <div class="row">
      <% @offers.first(48).each do |offer| %>
        <div class="col-6 mt-3">
          <%= render "shared/basic_offer_card", offer: offer %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
