<!-- info / title/ short description / Star rating / Add to wishlist-->
<div class="container mt-4" data-controller="insert-review">
  <div id="offer-header" class="row">
    <div class="col-9">
      <p><%= @offer.tag.name.upcase %>  •  RATING 4.0</p>
      <h1><%= @offer.title %></h1>
      <p>
        <%= @offer.description.gsub(/(\.|!).*/, '').truncate(100) %>
        <em><%=link_to '(more info)', '#offer-description' %></em>
      </p>
    </div>
    <div class="col-1">
    </div>

    <div class="col-2">
      <div id="offer-avg-rating">
        <span>Average rating</span>
        <p><% 5.times do  %>
          ⭐
        <% end %></p>
      </div>
      <div id="offer-add-favorite">
        <p><i class="fas fa-heart"></i> Add to Wishlist</p>
      </div>
    </div>
  </div>

  <% if @offer.photos.attached? %>
    <div id="offer-image-preview" class="row">
        <%= render 'shared/photos_grid_first_two' %>
    </div>
  <% end  %>



  <div id="offer-reviews" class="col-7 mt-4">
    <% if @offer.photos.attached? == false %>
      <%= render 'shared/photos_grid_one_photo' %>
    <% end  %>

    <div id="offer-tags" class="row mt-3">
      <div class="col">
          <span class='offer-tag'><%= @offer.price_per_person %>€ pp</span>
          <span class='offer-tag'><%= @offer.tag.name.capitalize %></span>
          <span class='offer-tag'>4.0</span>
          <span class='offer-tag'><%= pluralize(@offer.capacity, 'person') %></span>
        </div>
    </div>

    <div id="offer-description" class="row mt-3">
      <h4>Read more about the experience you go to</h4>
      <p><%= @offer.description %> </p>
    </div>
    <h4>Read what others said</h4>
    <div id="review-container" data-insert-review-target="list">
      <% @offer.reviews.each do |review| %>
        <%= render 'reviews/review_card', review: review %>
       <% end %>
    </div>
  </div>

  <div class="card-review-form col-4 mt-4">
    <%= render 'reviews/form_review', offer: @offer, review: @review %>
  </div>

  <div class="card-offer-details col-4 mt-4">
    <%= render 'offers/offer_details_card' %>
  </div>

  <% if @offer.photos.attached? %>
    <div class="row justify-content-center text-center">
      <hr  class="mb-3 mt-3">
      <div class="col-8 image-slider">
        <h5 id="all-photos">See all photos here!</h5>
        <%= render 'shared/image_carousel' %>
      </div>
    </div>
  <% end %>


</div>
