<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@offer.title} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description.truncate(160) %>
<% if @offer.is_external == true %>
  <% content_for :meta_image, @offer.external_image_url %>
<% else  %>
  <% content_for :meta_image, cl_image_path(@offer.photos.first.key) %>
<% end  %>

<!-- info / title/ short description / Star rating / Add to wishlist-->
<div class="container mt-4" data-controller="insert-review">
  <div id="offer-header" class="row">

    <div class="col-10">
      <h6 id="tagline"><%= @offer.tag.name.upcase %> <% if @offer.avg_rating %> . RATING <%= @offer.avg_rating %><% end %></h6>
      <h1 id="title"><%= @offer.title %></h1>
      <p>
        <%= @offer.description.gsub(/(\.|!).*/, '').truncate(100) %>
        <em><%=link_to '(more info)', '#offer-description' %></em>
      </p>
    </div>

    <div class="col-2">
      <div id="offer-avg-rating">
        <span>Average rating</span>
        <p><% @offer.avg_rating.to_i.times do  %>
            <i class="fas fa-star"></i>
           <% end %>
           <% (5 - @offer.avg_rating.to_i).times do  %>
            <i class="far fa-star"></i>
           <% end %>
        </p>
      </div>
      <div id="offer-add-favorite">
        <p><i class="fas fa-heart"></i> Add to Wishlist</p>
      </div>
    </div>
  </div>

  <% if @offer.is_external == true %>
    <div id="offer-image-preview" class="row">
        <%= render 'shared/photos_grid_one_photo' %>
    </div>
  <% else  %>
    <div id="offer-image-preview" class="row">
        <%= render 'shared/photos_grid_first_two' %>
    </div>
  <% end  %>

  <div id="offer-tags" class="row mt-4">
    <div class="col">

        <% if @offer.price_per_person == 0 %>
          <span class='offer-tag'>free</span>
        <% else %>
          <span class='offer-tag'><%= @offer.price_per_person %>€ pp</span>
        <% end %>

        <span class='offer-tag'><%= @offer.tag.name.capitalize %></span>
        <% if @offer.avg_rating %>
          <span class='offer-tag'><%= @offer.avg_rating %></span>
        <% end %>
        <% if @offer.capacity != nil %>
          <span class='offer-tag'><%= pluralize(@offer.capacity, 'person') %></span>
        <% end %>

    </div>
  </div>



  <div class="row">
    <div class="col col-md-8">
      <div id="offer-description" class="row mt-5">
        <h3>Read more about the experience you're going to</h3>
        <p><%= markdown(@offer.description) %></p>
      </div>

      <div id="offer-reviews" class="row col col-md-10 my-4"> <%# col-7 %>
        <h3>Read what others said</h3>

        <div id="review-container" data-insert-review-target="list">
          <% if @offer.reviews.count.positive? %>
            <% @offer.reviews.each do |review| %>
              <%= render 'reviews/review_card', review: review %>
            <% end %>
          <% else %>
            <p data-insert-review-target="message"><em> There are no reviews yet. </em></p>
          <% end %>
        </div>
      </div>

    <% if @offer.photos.attached? %>
      <div class="row justify-content-center mb-3 mt-5">
        <%# <hr  class="mb-3 mt-5"> %>
        <div class="image-slider"> <%# col-8 %>
          <h5 id="all-photos">Have a look at all the images before you go</h5>
          <%= render 'shared/image_carousel' %>
        </div>
      </div>
    <% end %>

    </div>

    <div class="col col-md-4 show-detail-cards">
      <div class="card-offer-details mt-4 row">
        <%= render 'offers/offer_details_card' %>
      </div>

      <div class="row mt-3">
        <%= render 'shared/category_card', tag: @offer.tag %>
      </div>

      <% if @offer.is_external? == false %>
        <div class="card-offer-details row mt-4">
            <%= render 'conversations/start_conversation_form' %>
        </div>
      <% end %>

      <div class="card-review-form my-4 row">
        <%= render 'reviews/form_review', offer: @offer, review: @review  %>
      </div>


    </div>
  </div>

</div>
