<h3>Rate your Experience</h3>
<%= simple_form_for([ @offer, @review ]) do |f| %>
  <%= f.input :title, label: 'TITLE', placeholder: 'Give a title to your review' %>
  <%= f.input :comment, label: 'DESCRIPTION', placeholder: 'Share details about your experience'%>
  <%= f.input :rating, input_html: { min: '1', max: '5'}, label: 'RATING FROM 1-5', placeholder: 'Rate your experience from 1 to 5' %>
  <%= f.submit "Submit review", class: 'btn btn-outline-primary btn-lg' %>
<% end %>
